{% extends 'main/test.html'%}


{% block title %} Створити обліковий запис {% endblock %}


{% block body %}
	<div class="features">
        <h1>Форма для реэстрації</h1>
        <form method= "POST" >
            {% csrf_token %}
            <table class="tab">
                <tr>
                    <td>Логін:</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>Пароль:</td>
                    <td>{{ form.password1 }}</td>
                </tr>
                <tr>
                    <td>Підтвердження:</td>
                    <td>{{ form.password2 }}</td>
                </tr>

            </table>

            <button type= "submit" class= "btn btn-success" > Реєстрація </button><br>
            <span>{{ error }}</span>
        </form>
    </div>


{% endblock %}