body{
    background: #7f837f;
}

aside {
    float: left;
    background: #334a43;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 3px solid #4d4d4d;
}

aside h3{
    margin-top: 0px;
    font-size: 20px;
    margin-left: 28px;
}

aside img{
    margin-top: -30px;
}

aside ul{
    list-style: none;
}

aside ul li{
    color: #fff;
    display: block;
    margin-top: 15px;
}

aside ul li:hover,aside ul a:hover{
    color: #4e884f;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features {font-size: 15px}
main .features p{max-width: 400px;margin: 20px auto}

.table th, .table td {
	position: relative;
}
.active:after {
	content: '';
	position: absolute;
	top: 0px;
	right: 3px;
	bottom: 3px;
	left: 3px;
	border: 2px solid #88b489;
}

